// header nav row
.header__nav{
    padding: 13px 0;
    background-color: white;

    img{
        width: 104px;
        height: 26px;
    }
    .container{
        justify-content: space-between;
    }
    .header__btn{
        column-gap: 10px;
    }
}
// header title / page poster
.header__caption{
    width: 100%;
    height: 650px;
    align-items: center;
    justify-content: center;

    .header__caption-inner{
        color: white;
        max-width: 380px;
        text-align: center;

        h1{
            margin-bottom: 21px;
        }
        p{
            margin-bottom: 32px;
        }
    }
}

// media query
.header__caption{
    @media (max-width: 800px) {
        height: 500px;
    }
}

